@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;
  
  .v-label {
  	font-size: 20px;
  	}
  .v-label-miniheader {
  	font-size: 25px;
  	width: 100%
  	text-align: center;
  	}
  
  .v-panel-caption {
  	font-size: 18px;
  	text-align: center;

  }
 
}
