@import "mytheme.scss";
@import "addons.scss";

// This file prefixes all rules with the theme name to avoid causing conflicts with other themes.
// The actual styles should be defined in mytheme.scss

.mytheme {
  @include addons;
  @include mytheme;
  
  .v-label {
  	font-size: 20px;
  	}
  .v-label-miniheader {
  	font-size: 28px;
  	width: 100%;
  	text-align: center;
  	}
  .v-label-datetime {
  	white-space: normal;
  }
  
  .layout-with-border {
  	border-right-width: 4px;
    border-right-color: #a0a0a0;
    border-right-style: dotted;
    height: 260px;
  	}
  
  .v-panel-caption {
  	font-size: 18px;
  	text-align: center;

  }
 
}
